<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
</head>
<body>
    <p>{{moment(password.date_create).calendar()}}</p>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.title()}} {{form.title.label}}<br>
        {{form.password()}} {{form.password.label}}<br>
        {{form.change()}}
    </form>
    
    {{lang}}
    {{moment.include_moment()}}
    {{moment.lang('ru')}}
</body>
</html>