<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/password.css')}}">
    <title>Password</title>
</head>
<body>
    <div class="main-blocak">
        <p>{{moment(password.date_create).calendar()}}</p>
        <form action="" method="post" novalidate>
            {{form.hidden_tag()}}
            {{form.csrf_token()}}
            <p>{{form.title()}} {{form.title.label}}</p>
            <p>{{form.password()}} {{form.password.label}}</p>
            <p>{{form.change()}}</p>
        </form>
        
        {{lang}}
        {{moment.include_moment()}}
        {{moment.lang('ru')}}
    </div>
</body>
</html>