<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage</title>
</head>
<body>
    <a href="{{url_for('storage_bp.logout')}}">username</a>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.title()}}
        {{form.password()}}
        {{form.add()}}
    </form>
    {%for essence in data%}
    {%set password_id = g.generate_token(essence.password_id,"password_id")%}
    <a href='{{url_for("storage_bp.storage_password",password_id = password_id,username=current_user.username)}}'>{{essence.title}}</a><br>
    {%endfor%}
    {%for i in range(0,pages)%}
    {%if i+1 == page%}
    <a href="{{url_for('storage_bp.storage',page=(i+1),username=current_user.username)}}">...</a>
    {%else%}
    <a href="{{url_for('storage_bp.storage',page=(i+1),username=current_user.username)}}">{{i+1}}</a>
    {%endif%}
    {%endfor%}
</body>
</html>