<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/storage.css')}}">
    <title>Storage</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.title()}}<br>
        {{form.password()}}<br>
        {{form.add()}}<br>
    </form>
    <div class="block-content">
        {%for essence in data%}
        {%set password_id = g.generate_token(essence.password_id,"password_id")%}
        <a href='{{url_for("storage_bp.storage_password",password_id = password_id,username=current_user.username)}}'>
            <div class="essence-block">
                <p class="date_create">{{moment(essence.date_create).format('LLL')}}</p>
                <p class="title">{{essence.title}}</p>
            </div>
        </a>
        {%endfor%}
        {{moment.include_moment()}}
        {{moment.lang('ru')}}
    </div>
    <div class="pages">
        {%if pages>1%}
            {%for i in range(0,pages)%}
            <a href="{{url_for('storage_bp.storage',page=(i+1),username=current_user.username)}}">
                <div>
                    {%if i+1 == page%}
                    ...
                    {%else%}
                    {{i+1}}
                    {%endif%}
                </div>
            </a>
            {%endfor%}
        {%endif%}
    </div>
</body>
</html>