<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storage</title>
</head>
<body>
    <a href="{{url_for('storage_bp.logout')}}">username</a>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.title()}}
        {{form.password()}}
        {{form.add()}}
    </form>
    {%for essence in data%}
    <a href='{{url_for("storage_bp.storage_password",id = essence.password_id,username=current_user.username)}}'>{{essence.title}}</a><br>
    {%endfor%}
</body>
</html>