*{box-sizing: border-box;}
html,body{
    margin: 0;
    width: 100%;
}
body{
    background-color: #900C3F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
div{
    position: fixed;
    top: 40%;
    background-color: #FF5733;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div>form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div>form>p{
    align-self: start;
    color:white;
}
