<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/new_password.css')}}">
    <title>New password</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.password()}}
        {{form.repeat_password()}}
        {{form.update_password()}}
    </form>
</body>
</html>