<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset_password.css')}}">
    <title>Reset Password</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        {{form.csrf_token()}}
        {{form.email()}}
        {{form.send_email()}}
        {%with message = get_flashed_messages()%}
            {%if message%}
                <p class="flash">{{message[0]}}</p>
            {%endif%}
        {%endwith%}
    </form>
</body>
</html>